@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 2.5rem;
  margin-left: 0.5rem;

  &__image {
    width: 10%;
    border-radius: 50%;
  }

  &__greeting {
    font-size: 3rem;
    margin: 0;
    color: $grey;
  }
}
