@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button {
  @include button;
  border-style: none;
  margin: 2rem auto;
  background-color: $red;
  font-weight: 600;

  &:hover {
    background-color: #c0040b;
  }
}

.map__container {
  margin: 3rem;
}
