.header {
  background-color: #1e1e1e;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  &__logo {
    height: 3rem;
  }

  &__profile {
    height: 2rem;
    filter: brightness(0) invert(1); //change to white
  }

  &__link {
    text-decoration: none;
    color: white;

    &:hover {
      color: #e31b23;
    }
  }
}
