@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.landingPage {
  &__main {
  }
  &__video {
    width: 100%;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &__link {
    @include button;
    background-color: #e31b23;
    filter: drop-shadow(0 0 0.75rem #615c5c);

    &:hover {
      background-color: #d5060d;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container {
    background-color: #1e1e1e;
    filter: drop-shadow(0 0 0.75rem #423e3e);
    border-radius: 20px;
    padding: 1rem 2rem;
    margin: 1rem 1rem;
    width: 70%;
  }
  &__icon {
    height: 2rem;
  }
  &__heading {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
  }
  &__description {
    color: white;
    line-height: 1.5;
    font-weight: 500;
  }
}
