@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0 0 0.75rem #423e3e);
  width: 50%;
  margin: 3rem auto;
  color: white;

  &__heading {
    color: #e31b23;
    text-align: center;
    text-transform: uppercase;
  }

  &__group {
    display: flex;
    width: 90%;
    flex-direction: column;
  }

  &__label2 {
    color: #1e1e1e;
    font-weight: 600;
    text-align: left;
    padding: 0.5rem;
    text-align: left;
  }

  &__input {
    padding: 0.75rem 1rem;
    border-radius: 15px;
    border: 1px solid #1e1e1e;
  }

  &__button {
    @include button;
    border-style: none;
    font-size: 1rem;
    width: 30%;
    background-color: #e31b23;
    margin: 1.5rem auto;
  }

  &__redirect {
    color: #1e1e1e;
  }

  &__link {
    color: #1e1e1e;
  }

  &__error {
    color: $button-colour;
    font-weight: 600;
  }
}
